<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <nav>
      <h1>tely</h1>
      <a href='/'>back to homepage</a>
    </nav>
    <img src='<%=showImg%>'>
    <ul>
      <h1>
        <%= show.title %>
      </h1>
      <li>Year Released: <%= showYear %>
      </li>
      <li>Actors: <%= showActors %>
      </li>
      <li>Rating: <%= show.rating%>
      </li>
    </ul> 
    <a href="/shows/<%=show._id %>/edit">edit this show</a> 
 
  </body>
  
  
</html>